<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalTitle" aria-describedby="passwordModalBody" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passwordModalTitle">
                    {{ __('firefly.secure_pw_title') }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ __('firefly.close') }}"></button>
            </div>
            <div class="modal-body" id="passwordModalBody">
                <p>
                    {{ __('firefly.secure_pw_history') }}
                </p>
                <p>
                    {{ __('firefly.secure_pw_ff') }}
                </p>
                <p>
                    {{ __('firefly.secure_pw_check_box') }}
                </p>

                <h6>{{ __('firefly.secure_pw_working_title') }}</h6>
                <p>
                    {{  __('firefly.secure_pw_working')|raw  }}
                </p>
                <h6>{{ __('firefly.secure_pw_should') }}</h6>
                <p>
                    {{ __('firefly.secure_pw_long_password') }}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ __('firefly.close') }}</button>
            </div>
        </div>
    </div>
</div>
